Projektbeschreibung.aux
Projektbeschreibung.bbl
Projektbeschreibung.blg
Projektbeschreibung.log
Projektbeschreibung.out
Projektbeschreibung.synctex.gz
einfuehrung.pdf
Diagramms/Tikz-Latex-UML/praesentation.tex